<app-customer-list #customer></app-customer-list>
<p>You have selected {{customer.selectedCustomer?.name}}</p>

<div>
  <label>DOB:</label>
  <input type="date" #dobInput (blur)="calculateAge()">
</div>
<div>
  <label>Age:</label>
  <input type="text" #ageInput>
</div>
<app-demo></app-demo>
{{democomp.sayHello()}}


<div class="container">
  <h2>New in Smart Phones</h2>

  <div class="more-products">
    <app-products>
      <h4 class="title">New in iPhone</h4>
      <button class="btn btn-more">Show more in iPhone</button>
    </app-products>
    <app-products>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-more">Show more in Samsung</button>
    </app-products>
    <app-products>
      <h4 class="title">New in OnePlus</h4>
      <button class="btn btn-more">Show more in OnePlus</button>
    </app-products>
    <app-products>
      <h4 class="title">New in MI</h4>
      <button class="btn btn-more">Show more in MI</button>
    </app-products>
  </div>
</div>